body {
    padding: 0px;
    margin: 0px;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

iframe {
    margin-top: 79px;
    margin-left: 21px;
    height: 475px;
    width: 270px;
}

#telefone {
    position: absolute;
    height: 645px;
    width: 315px;
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

#icones {
    position: absolute;
    right: 0px;
}

a {
    display: block;
    margin: 10px;

}

img:hover {
    transform: translate(-3px, -3px);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.438);
    transition: 0.5s;
    border: 1px solid white;
}

img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
}